// General
$site-width: 35em;

// Grid variables
$column-count: 12;
$gutter: 3%;

// Typography variables
$text-color: #333;
$link-color: #0f82bd;

$base-font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
$base-font-size: 1em;
$base-line-height: 1.5em;
$base-margin-bottom: 1.618em;
$measure: 806px;

$headings-margin-bottom: 0.809em;	
$headings-line-height: 1.125em;

$code-font-family: 'DejaVu Sans Mono', Inconsolata, Consolas, 'Lucida Console', monospace;
$code-text-color: brown;
