@import "../helpers/_settings";

button,
.btn,
a.btn {
	display: inline-block;
	padding: 0.618em 1.5em;
	border: 0;
	border-radius: $btn-roundness;
	background-color: $btn-default-bg;
	color: $btn-default-text-color;
	text-decoration: none;
	font-family: inherit;
	font-family: inherit;
	line-height: 1;
	cursor: pointer;

	&:hover {
		background-color: $text-color;
		color: #fff;
	}

	&:active {
		background-color: lighten($text-color, 10%);
	}

	&:focus {
		outline: none;	
	}
}

.btn-primary {
	@extend .btn;

	background-color: $btn-primary-bg;
	color: $btn-primary-text-color;
}

.btn-small {
	@extend .btn;

	font-size: $btn-small-font-size;
}

.btn-large {
	@extend .btn;

	font-size: $btn-large-font-size;
	font-weight: bold;
}
